.form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  height: 3.375rem;
  margin-top: -1.6875rem;
}

.form > input {
  flex: 1;
  color: var(--gray-100);
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.form > button {
  background: var(--blue-dark);
  min-width: 5.75rem;
  border: 0;
  border-radius: 8px;
  color: var(--gray-100);
  font-size: 14;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
