div > main {
  padding: 0 25%;
}

@media (max-width: 525px) {
  html {
    font-size: 83%;
  }

  div > main {
    padding: 0 10%;
  }
}

@media (min-width: 525px) {
  div > main {
    padding: 0 25%;
  }
}
